body {
    width: 75%;
    margin: 20px;
}

h1, h2, h3 { 
    color: #0C2340; 
}

table {
    border-collapse: collapse; /* IE7 and lower */
    border-spacing: 0;
    width: 100%;
}

.bordered {
    border: solid #8f8f8f 1px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
      
}

.bordered tr:hover {
    background: #E87722 ;   
}    
    
.bordered td, .bordered th {
    border-left: 1px solid #8f8f8f;
    border-top: 1px solid #8f8f8f;
    padding: 5px;
    text-align: left;    
}

.bordered th {
    background-color: #0C2340; 
    color:#E87722;    
    border-top: none;

}

